* {
    font-family: 'Roboto',arial,sans-serif;
}
nav {
    margin-left: 1%;
    font-size: 1.5em;
    color: #878787;
}
nav a {
    text-decoration: none;
    margin-left: 1%;
}
nav a:hover {
    color: #00bcd4;
}


div.definition {
    /*font-family: 'Roboto',arial,sans-serif;*/
    width: 50%;
    border: 1px solid lightgrey;
    margin: 1% auto auto auto;
    padding: 1% 0 1% 1%;
}
.def_chars_xl {
    font-size: x-large;
    color: #878787;
    /*font-weight: 500;*/
}
.def_chars_xl h1 {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
}
.def_chars_lg {
    font-size: 2em;
}
.def_chars_md{
    font-size: 1.5em;
    margin-bottom: 1%;
}
.def_chars_md h2 {
    color: #878787;
    font-weight: 400;
}
div.quoted {
    /*font-size: 1em;*/
    color: #878787;
}

div.italicized {
    font-style: italic;
    color: #878787;
}
div.padded-left {
    padding: 0 0 0 3%;
    font-weight: lighter;
}
div.padded-left p{
    margin:0;
}
div.padded-left strong{
    font-weight: 600;
    color: #878787;
}
div.padded-left_0 {
    padding-left: 3%;
}
div.padded-left i {
    color: #878787;
}

div#main {
    width:100%;

}

.portfolio {
    width: 48.5%;
    float: left;
    border: 1px solid #878787;
    padding-right: 0;
    margin-left: .75%;
}
.resource {
    float: left;
    margin-right: 2%;
}

.review {
    margin-top: 5%;
    font-size: 1.25em;
}
.project {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /*background-image: url('/img/san_diego_restaurants.png');*/
}
.project img {
    max-width: 100%;
}
p.clearFloat {
    clear: both;
}

iframe {
    clear: both;
}

div.wip {
    width: 100%;
    /*margin: 0 auto 0 auto;*/
    margin-left: 10%;
}

div.wip a {
    display: block;
}
hr
{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
html,body
{
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
html
{
	overflow-x: hidden;
}
h1
{
	font-size: 36px;
}
h2
{
	font-size: 30px;
}
h3
{
	font-size: 24px;
}
h4
{
	font-size: 20px;
}
h5
{
	font-size: 18px;
}
h6
{
	font-size: 16px;
}
.w3-serif
{
	font-family: serif;
}
h1,h2,h3,h4,h5,h6
{
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.w3-wide
{
	letter-spacing: 4px;
}
hr
{
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}
.w3-image
{
	height: auto;
	max-width: 100%;
}
img
{
	margin-bottom: -5px;
}
a
{
	color: inherit;
}
.w3-opacity,.w3-hover-opacity:hover
{
	opacity: 0.60;
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after
{
	clear: both;
	content: "";
	display: table;
}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter
{
	float: left;
	width: 100%;
}
.w3-container,.w3-panel
{
	padding: 0.01em 16px;
}
.w3-container p {
    max-height: 240px;
    overflow: scroll;
}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter
{
	float: left;
	width: 100%;
}
.w3-col.s1
{
	width: 8.33333%;
}
.w3-col.s2
{
	width: 16.66666%;
}
.w3-col.s3
{
	width: 24.99999%;
}
.w3-col.s4
{
	width: 33.33333%;
}
.w3-col.s5
{
	width: 41.66666%;
}
.w3-col.s6
{
	width: 49.99999%;
}
.w3-col.s7
{
	width: 58.33333%;
}
.w3-col.s8
{
	width: 66.66666%;
}
.w3-col.s9
{
	width: 74.99999%;
}
.w3-col.s10
{
	width: 83.33333%;
}
.w3-col.s11
{
	width: 91.66666%;
}
.w3-col.s12
{
	width: 99.99999%;
}
@media (min-width:601px)
{
	.w3-col.m1
	{
		width: 8.33333%;
	}
	.w3-col.m2
	{
		width: 16.66666%;
	}
	.w3-col.m3,.w3-quarter
	{
		width: 24.99999%;
	}
	.w3-col.m4,.w3-third
	{
		width: 33.33333%;
	}
	.w3-col.m5
	{
		width: 41.66666%;
	}
	.w3-col.m6,.w3-half
	{
		width: 49.99999%;
	}
	.w3-col.m7
	{
		width: 58.33333%;
	}
	.w3-col.m8,.w3-twothird
	{
		width: 66.66666%;
	}
	.w3-col.m9,.w3-threequarter
	{
		width: 74.99999%;
	}
	.w3-col.m10
	{
		width: 83.33333%;
	}
	.w3-col.m11
	{
		width: 91.66666%;
	}
	.w3-col.m12
	{
		width: 99.99999%;
	}
}
@media (min-width:993px)
{
	.w3-col.l1
	{
		width: 8.33333%;
	}
	.w3-col.l2
	{
		width: 16.66666%;
	}
	.w3-col.l3
	{
		width: 24.99999%;
	}
	.w3-col.l4
	{
		width: 33.33333%;
	}
	.w3-col.l5
	{
		width: 41.66666%;
	}
	.w3-col.l6
	{
		width: 49.99999%;
	}
	.w3-col.l7
	{
		width: 58.33333%;
	}
	.w3-col.l8
	{
		width: 66.66666%;
	}
	.w3-col.l9
	{
		width: 74.99999%;
	}
	.w3-col.l10
	{
		width: 83.33333%;
	}
	.w3-col.l11
	{
		width: 91.66666%;
	}
	.w3-col.l12
	{
		width: 99.99999%;
	}
    .w3-col.xl_inline
    {
        display: inline;
        float: left;
    }
}
.w3-margin
{
	margin: 16px!important;
}
.w3-card,.w3-card-2
{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.w3-card-4,.w3-hover-shadow:hover
{
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.w3-white,.w3-hover-white:hover
{
	background-color: #fff!important;
	color: #000!important;
}
footer{
    background-color: #f2f2f2;
    padding: 1%;
}
footer a{
    margin-left: 1%;
}