* {
    /*padding: 0;*/
    /*margin: 0;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: #ebebeb;

}

p {
    font-size: 1.3em;
}
div#banner {
    width: 100%;
    position: fixed;
    background-color: #75a9eb;
    top: 0;
    left: 0;
}

div#banner img, div#spacer img {
    float: left;

}

div#spacer {
    visibility: hidden;
    width: 100%;
    /*top: 0;*/
    /*left: 0;*/
    margin-top: -2%;
}

div#banner h1, div#spacer h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2em;
    color: white;
    padding-left: 18%;

}

div#main {
    width: 90%;
    margin: 0 auto 0 auto;
    /*border: 1px solid black;*/
    background-color: #ebebeb;
    padding-left: 1%;
}
/* to clear the invisible header */
p.clearFloat {
    clear: both;
}

div#navbar {
    clear: both;
    width: 100%;
    margin-left: -3%;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*padding: 0;*/
    /*margin: 0 0 0 -3%;*/

}

div#nav ul {
    /*padding-left: 0;*/
    list-style-type: none;
}

div#navbar ul li {
    float: left;
    text-align: center;
    display: inline;
    width: 33%;
    margin-left: .125em;
}

div#navbar ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: white;
    /*background-color: #990000;*/
    display: block;
    /*padding: .25em;*/
    padding: 2.5%;
}

li.changeBackground {
  background-color: #990000;
}

li.changeBackground:hover {
  background-color: #410000;
}

div#content {
    width: 68%;
    float: left;
}

div#content img {
    float: left;
    margin-right: 1%;
}

div#sidebar {
    width: 29%;
    float: right;
    padding: 0 1% 0 2%;
}

div#sidebar h3 {
    color: #75a9eb;
    margin-bottom: -3%;
}

div#sidebar address {
    margin-top: -3%;
}

div#sidebar p {
    font-size: 1em;
    color: #333333;
}
div#instagram {
    /*text-align: center;*/
    /*padding: 0 auto 0 auto;*/
    padding-left: 30%;
}


footer {
    clear: both;
    width: 100%;
    padding: 0;
    margin-top: 3%;
    /*margin: 0;*/
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    float: left;
    width: 16.667%;
    text-align: center;
    /*margin: 0 .75em 0 0;*/
}

footer ul li a {
    /*background-color: #0e0e0e;*/
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 4%;

}

footer li.changeBackground {
    background-color: #333333;
}

address.no_underline {
    text-decoration: none;
}
